#map_canvas {
  height: 500px;
  margin: 2em;
}

.svg_container {
  position: relative;
  width : 100%;
  height: 100%;
}

.svg_container svg {
  position: absolute;
  top   : -4000px;
  left  : -4000px;
  width : 8000px;
  height: 8000px;
}

#license {
    margin: 2em;
    text-align: center;
}